* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  letter-spacing: 0.015rem;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../image/back1.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 92vh;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}
.header-container {
  width: calc(100% - 90px);
  max-width: 1525px;
  padding: 24px 0 19px 0;
  margin: auto;
}
.nav-container {
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  width: 133px;
  height: 19px;
}
.divider {
  border-left: 1px solid #fff;
  height: 18px;
  margin-left: 24px;
  margin-right: 24px;
}
.fontAwesome {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  caret-color: #fff;
  outline: none;
}

.chip {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px;
  text-decoration: none;
}
.opacity {
  color: #fff;
}
.color {
  opacity: 0.5;
}
.social a {
  color: #fff;
  opacity: 0.3;
  text-decoration: none;
  margin-right: 10px;
}
.fa-magnifying-glass {
  color: #fff;
  opacity: 0.3;
}
.fa-bars {
  color: #fff;
  width: 19px;
  height: 19px;
}
.row-image {
  overflow: hidden;
}
.row-image img {
  height: 446px;
  width: 446px;
  border-radius: 20px;
  transition: transform 0.2s;
}
.row-image:hover img {
  /* -ms-transform: scale(1.1); /* IE 9 */
  /* -webkit-transform: scale(1.1); Safari 3-8 */
  transform: scale(1.1);
}
.row-image:hover,
.row-image {
  outline: solid 2px transparent;
  border-radius: 20px;
}
.row {
  display: flex;
  align-items: center;
  color: #fff;
}
.container {
  width: 100%;
  /* height: 70%; */
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-row {
  display: flex;
  gap: 20px;
}
.row-content {
  margin-top: 40px;
  margin-bottom: 40px;
}
.row-compare {
  margin: auto 20px;
}
.row img {
  border-radius: 22px;
  margin-right: 5px;
}
.row-content > span,
h2 {
  font-size: 36px;
  font-weight: 900;
  color: #fff;
}
.row-content > span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
}
.date span {
  opacity: 0.5;
  word-spacing: 2px;
}
.date p {
  word-spacing: 3px;
}
.fa-circle {
  color: blue;
  height: 1px;
  width: 1px;
}
.row-content h3 {
  margin-bottom: 30px;
  color: blue;
}
.slide {
  width: 80%;
  /* max-width: 1300px; */
  margin-top: -350px;
  position: absolute;
  z-index: 2;
}
.unread-content {
  margin-top: 8%;
}

.editors-choice {
  width: 100%;
  color: #fff;
}

.editors-slider {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}
.editors-slider::-webkit-scrollbar {
  display: none;
}

.uk-slider-container {
  /* background-image: url(../image/img1.png); */
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 290px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  margin: 10%;
}
.uk-slider-container:hover {
  transform: scale(1.1);
}

.img1 {
  background-image: url(../image/img1.png);
}

.img2 {
  background-image: url(../image/img2.jpeg);
}

.img3 {
  background-image: url(../image/img3.png);
}

.img4 {
  background-image: url(../image/img4.jpeg);
}

.img5 {
  background-image: url(../image/img5.jpeg);
}

.img6 {
  background-image: url(../image/img6.png);
}

.img7 {
  background-image: url(../image/img7.png);
}

.editors-header {
  display: flex;
  justify-content: space-between;
}
.slide-header span {
  float: right;
  color: #fff;
}
.slide-header {
  padding: 4% 10%;
}
.slider-footer {
  padding: 8% 10%;
}
.btn-slider {
  padding: 4px 8px;
  border-radius: 15px;
  border: none;
  color: #fff;
  background-color: #1e90ff;
}
.slider-footer p {
  color: #fff;
  margin: 10% 0;
}
.fa-solid span {
  font-size: 12px;
  margin-left: 2px;
}
.slider-footer i {
  color: #fff;
  font-size: 14px;
  margin-right: 10%;
}
.slider-arrow {
  padding: 4px 10px;
  border: 1px solid transparent;
  border-radius: 14px;
  background-color: gray;
  cursor: pointer;
}
/*  section 2iin ehlel */
.unread-container {
  background-color: rgb(177, 177, 177);
  width: 100%;

  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.empty-container {
  height: 350px;
}
.this-week {
  width: 60%;
  margin: 0 auto;
}
.absolute-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.exchange {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}
.exchange img {
  margin: 0 10px;
}
.side-content {
  margin-top: 4%;
  transition: all 0.3s linear;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.right {
  margin-top: 4%;
  transition: all 0.3s linear;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.side-content:hover {
  transform: translateY(-10px);
}

.unread-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 20px;
}
.overlay-content {
  display: flex;
  max-width: 739px;
  background-color: #fff;
  border-radius: 20px;
  padding: 28px 40px;
  margin-top: 13px;
  transition: box-shadow 0.3s;
}
.overlay-content:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.unread-img {
  background-image: url(../image/unread1.png);
  height: 120px;
  width: 120px;
  border-radius: calc(120px / 2);
  background-position: center;
  background-size: cover;
}
.dot {
  margin: 10%;
}
.lead-author {
  font-size: 13px;
}
.lead-author p {
  color: gray;
  word-spacing: 2px;
}
.lead-author h2 {
  color: black;
  font-size: 13px;
  font-weight: 500;
}
.doted {
  margin-right: 5px;
}
.unread-text span {
  font-size: 13px;
  color: #1e90ff;
}
.unread-text p {
  font-size: 22px;
  max-width: 400px;
  font-weight: 700;
}
/* pre-week starting point */
.pre-week {
  width: 60%;
  margin: 0 auto;
}
.nav-date ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  /* padding: 20px 0; */
  border-bottom: 2px solid #888888;
  margin: 40px 0;
}

.nav-date ul li {
  border-bottom: 4px solid transparent;
  padding: 20px 50px;
}
.nav-date ul li:hover {
  border-color: #1e90ff;
  color: #1e90ff;
}
/* grid box */
.pre-grid {
  padding-bottom: 50px;
}
.part1-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 270px 90px 234px;
  border-color: white;
  gap: 20px;
  margin: 40px 0;
}
.box {
  border-radius: 20px;
}
.boxes-1 {
  grid-column: 2 span;
  grid-row: 2 span;
  background-image: url(../image/grid1.jpeg);
  background-size: cover;
  background-position: center;
}
.boxes-4,
.boxes-5 {
  grid-row: 2 span;
}
.boxes-2 {
  background-image: url(../image/grid2.png);
  background-size: cover;
  background-position: center;
}
.boxes-3 {
  background-image: url(../image/grid3.png);
  background-size: cover;
  background-position: center;
}
.boxes-4 {
  background-image: url(../image/grid4.png);
  background-size: cover;
  background-position: center;
}
.boxes-5 {
  background-image: url(../image/grid5.jpeg);
  background-size: cover;
  background-position: center;
}
.boxes-6 {
  background-image: url(../image/grid6.png);
  background-size: cover;
  background-position: center;
}
.boxes-7 {
  background-image: url(../image/grid7.jpeg);
  background-size: cover;
  background-position: center;
}
.box {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  transition: all 0.5s ease-in;
}
.box:hover {
  box-shadow: 10px 10px 8px 10px #888888;
  transform: translateY(-10px);
}
.box-content > h6 {
  padding: 0 8%;
}
.box-content > p {
  padding: 0 8%;
}
.box-content h6 {
  font-weight: 400;
  opacity: 0.4;
  font-size: 15px;
}
.box-content {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  position: relative;
  padding: 4% 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.absolute-date {
  position: absolute;
  top: -18%;
  right: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 1% 2%;
}
/* footer starting point */
.footer {
  background-color: black;
}
footer {
  width: 60%;
  margin: 0 auto;
  padding: 5% 0;
  color: #fff;
}
.footer-center {
  display: flex;
  justify-content: space-between;
}
.content-links ul {
  display: flex;
  font-size: 15px;
  gap: 30px;
}
.authority {
  font-size: 11px;
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
}
.contact-one ul {
  list-style-type: none;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-weight: 400;
}
.contact-one h3 {
  margin-bottom: 5px;
}
.footer-contact {
  display: flex;
  gap: 10%;
}
.footer-arrow h5 {
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
}
.footer-arrow {
  padding: 2% 2%;
  /* background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px); */
  border-radius: 10px;
  position: relative;
  background-image: url(../image/btn-black.png);
  background-position: center;
  background-size: cover;
  height: 90px;
  width: 323px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fa-circle-arrow-right {
  position: absolute;
  top: 50%;
  left: 90%;
  translate: -50% -50%;
}
.footer-content-right > div {
  padding: 2% 5%;
}
.contact-one h2 {
  color: black;
  font-size: 24px;
}
.footer-content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  /* width: 470px; */
}
.contact-one h3 {
  color: #1e90ff;
}
.contact-one ul li {
  margin-top: 8px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  /* color: #fff; */
  opacity: 0.5;
}
.contact-one ul li:hover {
  transform: translateX(8px);
  opacity: 1;
  /* color: #fff; */
}

.color-link {
  color: #fff;
  font-size: 13px;
}
.footer-social {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.footer-social a i {
  color: #888888;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #1da1f2;
}
.fa-linkedin:hover {
  color: #0e76a8;
}
.fa-youtube:hover {
  color: #ff0000;
}
.fa-soundcloud:hover {
  color: #ff7700;
}
.fa-instagram:hover {
  background: -webkit-linear-gradient(
    45deg,
    #ffde85 0%,
    #f7792a 30%,
    #f7504f 40%,
    #d82b81 60%,
    #d82b81 75%,
    #9536c2 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.appstore {
  display: flex;
  gap: 25px;
}
/* gar utas */
@media only screen and (max-width: 480px) {
  .none {
    display: none;
  }
  .fa-magnifying-glass {
    opacity: 1;
  }
  .header-container {
    width: 90%;
  }
  .nav-row {
    margin-top: -83px;
    padding-top: 100px;
  }
  .row-compare {
    padding: 0 20px;
  }
  .row-content span,
  h2 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
  }
  .side-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pre-week {
    width: 90%;
    margin: 0 auto;
  }
  .nav-date ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    /* padding: 20px 0; */
    border-bottom: 2px solid #888888;
    margin: 40px 0;
  }
  .part1-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .box {
    grid-column: 1 span;
  }

  .footer-center {
    display: flex;
    flex-direction: column;
  }
  footer {
    width: 90%;
    margin: 0 auto;
  }
  .footer-contact {
    display: flex;
    flex-wrap: wrap;
  }
}
/* mini tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .row-compare {
    max-width: 298px;
    margin: 0;
  }
  .row-image {
    max-width: 359px;
  }
  .row-content span,
  h2 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
  }
  .social {
    display: none;
  }
  .nav-par {
    display: none;
  }
  .fontAwesome {
    display: inline-block;
  }
  .fa-magnifying-glass {
    opacity: 1;
  }
}
