* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../image/back1.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 92vh;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}
.header-container {
  width: calc(100% - 90px);
  max-width: 1525px;
  padding: 24px 0 19px 0;
  margin: auto;
}
.nav-container {
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
  width: 133px;
  height: 19px;
}
.divider {
  border-left: 1px solid #fff;
  height: 18px;
  margin-left: 24px;
  margin-right: 24px;
}
.fontAwesome {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  caret-color: #fff;
  outline: none;
}

.chip {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px;
  text-decoration: none;
}
.opacity {
  color: #fff;
}
.color {
  opacity: 0.5;
}
.social a {
  color: #fff;
  opacity: 0.3;
  text-decoration: none;
  margin-right: 10px;
}
.fa-magnifying-glass {
  color: #fff;
  opacity: 0.3;
}
.fa-bars {
  color: #fff;
  width: 19px;
  height: 19px;
}
.row-image {
  overflow: hidden;
}
.row-image img {
  height: 446px;
  width: 446px;
  border-radius: 20px;
  transition: transform 0.2s;
}
.row-image:hover img {
  /* -ms-transform: scale(1.1); /* IE 9 */
  /* -webkit-transform: scale(1.1); Safari 3-8 */
  transform: scale(1.1);
}
.row-image:hover,
.row-image {
  outline: solid 2px transparent;
  border-radius: 20px;
}
.row {
  display: flex;
  align-items: center;
  color: #fff;
}
.container {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-row {
  display: flex;
  gap: 20px;
}
.row-content {
  margin-top: 40px;
  margin-bottom: 40px;
}
.row-compare {
  margin: auto 20px;
}
.row img {
  border-radius: 22px;
  margin-right: 5px;
}
.row-content > span,
h2 {
  font-size: 36px;
  font-weight: 900;
  color: #fff;
}
.row-content > span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
}
.date span {
  opacity: 0.5;
}
.fa-circle {
  color: blue;
  height: 1px;
  width: 1px;
}
.row-content h3 {
  margin-bottom: 30px;
  color: blue;
}
@media only screen and (max-width: 480px) {
  .none {
    display: none;
  }
  .fa-magnifying-glass {
    opacity: 1;
  }
  .header-container {
    width: 90%;
  }
  .nav-row {
    margin-top: -83px;
    padding-top: 206px;
    padding-bottom: 25px;
  }
  .row-compare {
    padding: 0 20px;
  }
  .row-content span,
  h2 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .row-compare {
    max-width: 298px;
    margin: 0;
  }
  .row-image {
    max-width: 359px;
  }
  .row-content span,
  h2 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
  }
  .social {
    display: none;
  }
  .nav-par {
    display: none;
  }
  .fontAwesome {
    display: inline-block;
  }
  .fa-magnifying-glass {
    opacity: 1;
  }
}
.slide {
  max-width: 1300px;
  margin: auto;
  position: relative;
}

.editors-choice {
  width: 100%;
}

.editors-slider {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.uk-slider-container {
  background-image: url(../image/img1.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 230px;
  height: 300px;
}
